.todoList_root {
  background-color: #fff;
  border-radius: 30px;
  padding: 5px 20px 5px 20px
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: cetner;
}